body {
    width: 100%;
    background-color: rgb(22, 22, 22);
}

.container {
    width: 70%;
    margin: 90px auto 20px auto;
    background-color: rgb(71, 71, 71);
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    padding: 15px;
    align-items: center;
}

@media (max-width: 576px) {
    .container {
        margin: 50px auto 20px auto;
        width: 82%;
    }
}